.button_container {
  margin-top: 100px;
  text-align: center;
  }
  .button1 {
  background-color: cyan;
  border: none;
  color: black;
  font-size: 24px;
  height: 80px;
  width: 120px;
  }
  .button2 {
    background-color: white;
    border: none;
    color: black;
    font-size: 24px;
    height: 80px;
    width: 120px;
    }
    .button3 {
      background-color: magenta;
      border: none;
      color: black;
      font-size: 24px;
      height: 80px;
      width: 120px;
      }
    
  body{
    background-color: yellow;
    color:black;
  }
    
  